input.secondary{
    background-color:transparent;
    color:var(--firefly);
    font-size:20px;
    padding: 14px 0;
    border: none;
    border-bottom: 1.5px solid var(--firefly);
}
.iconic-input{
    position:relative;
}
.iconic-input > input{
    height:60px;
    border:1px solid var(--black);
border-radius:8px;
background-color:var(--sushi);
padding-left:50px;
font-size:20px;
color:var(--firefly);


}.iconic-input >img{
    position:absolute;
    left:16px;
top:18px;
bottom:18px;

}
