@media screen and (width<576px) {
/* xs */
.iconic-input{
    width:100%;
}
.iconic-input input{
    width:100%;
}
.team-member{
    width:100%;
    padding:24px 0 !important;
    border-right:0 !important;
}
.team-member:last-child{
    border-top:2px solid var(--red-line);
}
.header{
    --padding:5%;
}
.menu{
    padding-right:var(--padding);
}
.logo{
    padding-left:var(--padding);
    padding-right:var(--padding);
}
.header-btn-container{
    padding-left:var(--padding);
}
}

@media screen and (width<=768px) {
/* md */
.faq-question-container{
    width:100%;
}
.team{
    flex-direction:column-reverse;
}.team>img, .team-text-container{
    width:100%;
}
.info-container{
    flex-direction: column;
}
.info-container >img{
    width:100%;
max-width:400px;
}
.info-container:last-child{
    flex-direction:column-reverse;
}
.info-text-container{
    width:100%;
}
.hero-img-container{
    display:none;
}
}
@media screen and (width<=992px) {
/* lg */
.pricing-plans{
    flex-direction:column;
}
.team-text-container{
    flex:1 1 auto;
}
.team{
    gap:48px;
}
.info-container{
    gap:48px;
}
.info-text-container{
    flex:1 1 auto;
}
.services-categories{
    flex-wrap:wrap;
}
.hero{
    flex-direction: column;
    height:auto;
}
.hero-img-container img{
    max-width:80%;
    max-height:300px;
}
.hero-info-container{
    padding:48px;
}
.hero-info-container, .hero-img-container{
    width:100%;
}
.menu{
    display:block;
}
.nav{
    display:none;
}
.logo{
    border-right:none;
    border-left:2px solid var(--black);
    flex:1 1 auto;
    text-align:center;
}

}
@media screen and (width<=1200px) {
/* xl */
.contact-form-inputs{
    flex-direction:column;
}
.footer{
    flex-wrap:wrap;
}
.footer>div{
    min-width:180px;
    gap:24px;
}
.services-categories{
    gap:50px;
}
}
@media screen and (width<=1400px) {
/* xxl */
}